#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "nRF TBR mDNS server tests"

rsource "../../src/net/Kconfig"
source "Kconfig.zephyr"

endmenu
