/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 / {
	aliases {
		spi-flash0 = &mx66um1g;
	};
};

&gpio6 {
	status = "okay";
};

&pinctrl {
	exmif_default: exmif_default {
		group1 {
			psels = <NRF_PSEL(EXMIF_CK, 6, 0)>,
				<NRF_PSEL(EXMIF_DQ0, 6, 7)>,
				<NRF_PSEL(EXMIF_DQ1, 6, 5)>;
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};
};

&exmif {
	status = "okay";
	cs-gpios = <&gpio6 3 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&exmif_default>;
	pinctrl-names = "default";

	mx66um1g: mx66um1g45g@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(48)>;
		jedec-id = [c2 80 3b];
		sfdp-bfp = [
			e5 20 8a ff  ff ff ff 3f  00 ff 00 ff  00 ff 00 ff
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 10 d8
			00 ff 00 ff  87 79 01 00  82 12 00 e2  cc 02 67 38
			30 b0 30 b0  f4 bd d5 5c  00 00 00 ff  10 10 00 20
			00 00 00 00  00 00 7c a3  48 00 00 00  00 00 88 88
		];
		size = <1073741824>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <30000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			dfu_cache_partition_1: partition@0 {
				reg = <0x0 DT_SIZE_K(512)>;
			};
		};
	};
};
